<div class="column_box">
  <div class="name">
    <textarea name="bnsly_give" id="bnsly_give">+<%= company.give_amounts[0] %> <%-_.uniq(company_users).join()%><%if(company.hashtagging_mode == 'at_least_one_company_hashtag'){%> <%- company.suggested_hashtags[0] %><%}%>
    </textarea>
  </div>
  <div class="name" style="text-align:right"> 
      <a class="gmail_simple_button" id="bnsly_submit_link">
        <div role="button" class="J-J5-Ji T-I T-I-ax7 ayk-axZ-aup-I-UR ayk-axZ-aup-I ayk-axZ-aup-at2 T-I-JW T-I-Zf-aw2" style="visibility: visible; -webkit-user-select: none;">
          <span class="Txql0d ayk-axZ-aup-I-Jm-UR">Give</span>
        </div>
      </a>
  </div>
</div>
